{% extends 'base.html.twig' %}

{% block title %}Login | Le Quai Antique{% endblock %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message }}
        </div>
    {% endif %}

    <form class="container-fluid" method="post">
        <label for="email">Email</label>
        <input type="text" name="_username" id="email" value="{{ last_username }}" class="form-control" required />
        <label for="password">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control" required />
        <input type="hidden" name="_target_path" value="/">
        <input type="submit" value="Connexion" class="btn btn-success mt-3">

    </form>
    <a href="/customer/new">Vous n'avez pas encore de compte ? Inscrivez-vous ici.</a>

    {# {{ form_start(form) }}
    {{ form_rest(form) }}
    <input type="submit" value="Connexion" class="btn btn-success mt-3"> #}

{% endblock %}
