.main-title-admin-page {
    color: red;
}

/* Footer Section */

.footer {
    background-color: rgb(32, 152, 221);
    color: white;
}

@media screen and (min-width: 992px) {
    .footer-article {
        padding-top: 6rem;
    }
    .footer-main-article {
        padding-top: 4rem;
    }
    .footer {
        height: 16rem;
    }
}

@media screen and (max-width: 992px) {
    .footer-article {
        padding-top:1.5rem;
    }
    .footer-main-article {
        padding-top: 1.5rem;
    }
    .footer {
        height: 30rem;
    }
}

.footer-main-title {
    font-weight: 600;
    text-decoration: underline;
}

.footer-title {
    font-weight: 600;
    font-family: "Lobster", Arial, Helvetica, sans-serif;
}