body {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
    width: 100%;
}

/* Navbar Section */

.navbar-brand {
    font-family: "dulcinea", sans-serif;
    font-weight: 600;
    font-style: normal;
    width: 260px;
    height: 60px;
    text-align: center;
    font-size: xx-large;
}

.nav-link {
    font-family: "dulcinea", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: xx-large;
    width: 290px;
    text-align: end;
}

.btn-Connect {
    background-color: #B21F1F;
    color: white;
    width: 260px;
    font-size: large;
    box-shadow: 2px 2px 6px #000;
}

.btn-Disconnect {
    background-color: #B21F1F;
    color: white;
    font-size: large;
    box-shadow: 2px 2px 6px #000;
}

.btn-Connect:hover {
    background-color: #9C9797;
    color: white;
}

.btn-Disconnect:hover {
    background-color: #9C9797;
    color: white;
}

/* HomePage Title Section */

.title-main-page {
    font-family: "wreath", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    color: #9C9797;
}

/* HomePage Image Section */

.card {
    border: none;
}

.card-title {
    font-family: "wreath", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 46px;
    color: #9C9797;
    width: 300px;
    display: block;
    opacity: 0;
}

.card-img-top {
    width: 317px;
    height: 279px;
    border: solid 8px #9C9797;
}

.card-text {
    color: #9C9797;
    font-size: 24px;
    text-align: center;
    width: 300px;
    display: block;
    opacity: 0;
}

.hoverTitleAndText {
    animation: fade-in 2s;
    opacity: 1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/* Footer Section */

.footer {
    background-color: #927F42;
    color: white;
}

@media screen and (min-width: 992px) {
    .footer-article {
        padding-top: 6rem;
    }

    .footer-main-article {
        padding-top: 4rem;
    }

    .footer {
        height: 38rem;
    }

    .footer-main-title {
        padding-top: 10rem;
    }

    .footer-hours {
        padding-top: 1rem;
    }

    .footer-title {
        padding-top: 8.5rem;
    }
}

@media screen and (max-width: 992px) {
    .footer-article {
        padding-top: 1.5rem;
    }

    .footer-main-article {
        padding-top: 1.5rem;
    }

    .footer {
        height: 62rem;
    }

    .footer-main-title {
        padding-top: 2rem;
    }

    .footer-hours {
        padding-top: 3rem;
    }

    .footer-title {
        padding-top: 2rem;
    }
}

.footer-main-title {
    font-family: "dulcinea", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
}

.footer-title {
    font-family: "dulcinea", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: xx-large;
}

.footer-title-hours {
    font-family: "dulcinea", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: xx-large;
}

/* Button Section */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #B21F1F;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    width: 200px;
    box-shadow: 2px 3px 6px #000;
}

#myBtn:hover {
    background-color: #9C9797;
}

#bookingBtn {
    background-color: #B21F1F;
    color: white;
    width: 300px;
    height: 60px;
    font-size: x-large;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 2px 3px 6px #000;
}

#bookingBtn:hover {
    background-color: #9C9797;
    color: white;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.btn-customer-book {
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Booking Buttons */

#book_hourSelectedDay input[type="radio"] {
    display: none;
}

#book_hourSelectedNight input[type="radio"] {
    display: none;
}

#book_hourSelectedDay label {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid red;
    border-radius: 3px;
    color: red;
}

#book_hourSelectedNight label {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    border: 2px solid red;
    border-radius: 3px;
    color: red;
}

#book_hourSelectedDay input[type="radio"]:checked+label {
    background-color: red;
    color: black;
}

#book_hourSelectedNight input[type="radio"]:checked+label {
    background-color: red;
    color: black;
}

/* Calendar */

.ui-datepicker {
    width: 300px;
    height: 300px;
    margin: 5px auto 0;
    font: 12pt Arial, sans-serif;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

.ui-datepicker table {
    width: 100%;
}

.ui-datepicker-header {
    background: red;
    color: #ffffff;
    font-family: 'Times New Roman';
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 22px;

}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
    background-position: center -30px;
    color: white;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
    background-position: center 0px;
    color: white;
}

.ui-datepicker thead {
    background-color: #f7f7f7;

    /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
    background-color: #927F42;
    text-transform: uppercase;
    font-size: 8pt;
    color: white;
    /*text-shadow: 1px 0px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
    padding: 0;
    /*border-right: 1px solid #808080;*/
}

.ui-datepicker tbody td:last-child {
    border-right: 0px;
}

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
    border-bottom: 0px;
}

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker td span,
.ui-datepicker td a {
    display: inline-block;
    /*font-weight: bold;*/
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    /*text-shadow: 1px 1px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.ui-datepicker-calendar .ui-state-default {
    background: #927F42;
    color: #ffffff;
    height: 40px;
    width: 40px;

}

.ui-datepicker-calendar .ui-state-hover {
    background: #33adff;
    color: #FFFFFF;
}

.ui-datepicker-calendar .ui-state-active {
    background: #33adff;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #D6E4BE;
    color: #000;
}

.ui-state-default {
    display: none;
}

#ui-datepicker-div {
    z-index: 2;
    display: none;
}

/* HomePage Chief Section */

.img-chief {
    margin-left: 22px;
    width: 550px;
    height: 750px;
    border-radius: 10px;
}

.title-main-page-text {
    font-family: "wreath", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: #9C9797;
}

.text-main-page {
    font-size: 22px;
    color: #9C9797;
    padding-top: 88px;
}

.img-restaurant {
    width: 100%;
    height: 550px;
}

.btn-create-account {
    margin-top: 220px;
    background-color: #B21F1F;
    color: white;
    width: 300px;
    height: 60px;
    font-size: x-large;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 2px 3px 6px #000;
}

.btn-create-account:hover {
    background-color: #9C9797;
    color: white;
}

@media screen and (max-width: 992px) {
    .img-chief {
        width: 430px;
        height: 650px;
        margin-left: 0px;
    }

    .title-main-page-text {
        padding-top: 32px;
    }

    .text-main-page {
        font-size: 18px;
        padding-top: 32px;
    }
}

/* Formula and Dishes Section */

.title-formula-page {
    font-family: "wreath", serif;
    font-weight: 400;
    font-style: normal;
    color: #9C9797;
}

.formula-menu-title {
    background-color: #B21F1F;
    color: white;
    font-family: "wreath", serif;
    font-weight: 400;
    font-size: 40px;
    border-radius: 10px;
}

.formula-title {
    font-family: "wreath", serif;
    font-weight: 400;
    font-size: 34px;
}

.dish-main-title {
    background-color: #B21F1F;
    color: white;
    font-family: "wreath", serif;
    font-weight: 400;
    font-size: 40px;
    font-style: normal;
    text-align: center;
    width: 600px;
    border-radius: 10px;
}

.dish-title {
    font-family: "wreath", serif;
    font-weight: 400;
    font-size: 34px;
}

.dish-description {
    font-size: 18px;
}

.dish-price {
    font-size: 18px;
}

.bookin-formula-page-btn {
    background-color: #B21F1F;
    color: white;
    width: 300px;
    height: 60px;
    font-size: x-large;
    text-transform: uppercase;
    border-radius: 20px;
    box-shadow: 2px 3px 6px #000;
}

.bookin-formula-page-btn:hover {
    background-color: #9C9797;
    color: white;
}

/* Contact Section */

.contact-page-title {
    font-size: 30px;
}

.contact-title {
    position: grid;
    color: #927F42;
    font-size: 55px;
    font-family: "dulcinea", sans-serif;
    font-weight: 400;
}

.contact-link {
    color: #927F42;
    display: block;
    text-decoration: none;
    font-size: 28px;
}

.contact-link2 {
    text-decoration: none;
    color: #927F42;
    display: block;
    font-size: 28px;
}

.contact-subtitle {
    font-family: "wreath", serif;
    font-weight: 400;
    font-size: 35px;
}

.text-page-title {
    font-size: 20px;
}