{% extends "base.html.twig" %}

{% block title %}
	Gestion Administrative | Le Quai Antique
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="produit.css">
{% endblock %}

{% block body %}
	<div class="container-fluid mt-3 mb-5">
		<h1 class="main-title-admin-page">Vos Réservations</h1>
	</div>
{% endblock %}
