{% extends 'base.html.twig' %}

{% block title %}Création de Compte | Le Quai Antique
{% endblock %}

{% block body %}
	<div class="container-fluid mt-3">
		{{ form_start(form) }}
		{{ form_rest(form) }}
		<input type="submit" value="Créer votre compte" class="btn btn-success mt-3"><br>
		<div class="link-create-count mt-3">
			<a href="/login">Se connecter</a>
		</div>
	</div>
{% endblock %}
